*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  overflow-x:hidden;
}

/* Cards */
.cards{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  height: 60vh;
  width: 30vw;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: linear-gradient(to right, #7400a1, #47005d);
  color: white;
}

.card p{
  padding: 10px;
}

.list li{
  list-style: none;
  margin: 5px 0;
}

/* Navbar */
.navbar{
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
}

.navbar h2{
  font-size:40px;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

/* Hero */
.hero{
  height:90vh;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url("https://images.unsplash.com/photo-1562774053-701939374585?w=1600");
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content h1{
  font-size:60px;
}

.hero-content button:hover{
  background:#ea580c;
}